body {


    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

ul li {
    list-style-type: none;
}

.btn {
    border: 2px solid black;
    background-color: grey;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }